div.body p.caption {
    text-align: center;
    width: 100%;
    opacity: 0.8;
}

blockquote div {
    font-style: italic;
    opacity: 0.8;
}

#bibliography td.label {
    width: 7em;
    text-align: right
}

div.body h1 {
    text-align: center;
    font-size: 270%;
}
